asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==5.2.13
django-picklefield==3.4.0
django-q2==1.9.0
et_xmlfile==2.0.0
greenlet==3.5.0
idna==3.13
openpyxl==3.1.5
pillow==12.2.0
playwright==1.58.0
pyee==13.0.1
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pystray==0.19.5
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
waitress==3.0.2
whitenoise==6.12.0
